<%= form_for(beer_main) do |f| %>
  <% if beer_main.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer_main.errors.count, "error") %> prohibited this beer_main from being saved:</h2>

      <ul>
      <% beer_main.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="row">
		<div class="field">
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>
	<div class="row">
		<div class="field">
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>
