<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_main.name %>
</p>
<p><%= link_to 'New Recipe', new_recipe_url(:id => @beer_main.id) %></p>
<%= link_to 'Edit', edit_beer_main_path(@beer_main) %> |
<%= link_to 'Back', beer_mains_path %>
