<p id="notice"><%= notice %></p>

<h1>Grains</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Origin</th>
      <th>Amountgrain</th>
      <th>Manufname</th>
      <th>Costgrain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grains.each do |grain| %>
      <tr>
        <td><%= grain.name %></td>
        <td><%= grain.origin %></td>
        <td><%= grain.amountGrain %></td>
        <td><%= grain.manufName %></td>
        <td><%= grain.costGrain %></td>
        <td><%= link_to 'Show', grain %></td>
        <td><%= link_to 'Edit', edit_grain_path(grain) %></td>
        <td><%= link_to 'Destroy', grain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grain', new_grain_path %>
